# DataFrames in Python

This is a pandas DataFrame tutorial. we first start by importing the necessary packages:

In [6]:
import pandas as pd
import numpy as np

Next, we make our DataFrame:

In [7]:
df = pd.DataFrame(data=np.array([[1,2,3], [4,5,6]], dtype=int),columns=['A','B','C'])
df

   A  B  C
0  1  2  3
1  4  5  6